<template id="task-box">
    <!-- SCRIPT: add color from list -->
    <button class="task-box" type="button">
        <!-- SCRIPT: get name, start/end time, info from task/event object -->
    </button>    
</template>

<template id="event-box">
    <!-- SCRIPT: add color from list -->
    <button class="event-box" type="button">
        <!-- SCRIPT: get name, start/end time, info from task/event object -->
    </button>    
</template>

<template id="timer-box">
    <!-- SCRIPT: add color from list -->
    <button class="timer-box" type="button">
        <!-- SCRIPT: get name, start/end time, info from task/event object -->
    </button>    
</template>

<template id="measurement">
    <!-- SCRIPT: add color from list -->
    <button class="measurement" type="button">
        <!-- SCRIPT: get name, info from measurement object -->
    </button>    
</template>

<template id="hours-label">
    <span id="4am" class="time-label hidden">4am</span>
    <span id="5am" class="time-label hidden">5am</span>
    <span id="6am" class="time-label hidden">6am</span>
    <span id="7am" class="time-label hidden">7am</span>
    <span id="8am" class="time-label">8am</span>
    <span id="9am" class="time-label">9am</span>
    <span id="10am" class="time-label">10am</span>
    <span id="11am" class="time-label">11am</span>
    <span id="12pm" class="time-label">12pm</span>
    <span id="1pm" class="time-label">1pm</span>
    <span id="2pm" class="time-label">2pm</span>
    <span id="3pm" class="time-label">3pm</span>
    <span id="4pm" class="time-label">4pm</span>
    <span id="5pm" class="time-label">5pm</span>
    <span id="6pm" class="time-label">6pm</span>
    <span id="7pm" class="time-label">7pm</span>
    <span id="8pm" class="time-label">8pm</span>
    <span id="9pm" class="time-label">9pm</span>
    <span id="10pm" class="time-label">10pm</span>
    <span id="11pm" class="time-label">11pm</span>
    <span id="12am" class="time-label">12am</span>
</template>

