<template id="new-todo">	
    <form id="new-todo-title-" action="2did.com/user/todos" method="post">
        <!-- show on click -->
        <div class="single-line">
            <input id="todo-title-" name="todo-title" type="text" />
            <button type="button">
                <img class="no-add icon" src="./images/prospective-left/x.svg" />
            </button>
        </div>
        <div id="new-todo-type-only" class="submit-todo">
            <p>
                Add As:
            </p>
            <button id="add-as-task" type="button">
                <img class="task icon" src="./images/prospective-left/todo-components/task.svg" />
                Task
            </button>
            <button id="add-as-event" type="button">
                <img class="event icon" src="./images/prospective-left/todo-components/date.svg" />
                Event
            </button>
            <button id="add-as-variable" type="button">
                <img class="variable icon" src="./images/prospective-left/todo-components/variable.svg" />
                Variable
            </button>
            <button id="add-as-routine" type="button">
                <img class="routine icon" src="./images/prospective-left/todo-components/recurring.svg" />
                Routine
            </button>
        </div>
        <!-- on click, render TASK_TEMPLATE, EVENT_TEMPLATE, VARIABLE_TEMPLATE or ROUTINE_TEMPLATE with todo-title before this template instance -->
        <!-- if this template is not at the end of a list, delete it from the DOM -->
    </form>
</template>

