<template id="variable">
    <div id="variable-">
        <div class="variable-bar">
            <div class="variable-bar left">
                <!-- hide if new variable -->
                <form class="variable" id="variable-form-widget-" action="2did.com/user/todos" method="post">
                    <!-- widget is greyed out by default -->
                    <!-- widget turns green when goal met -->
                    <!-- widget turns red if goal not met -->
                    
                    <!-- if type=boolean, show after initial save-->
                    <div class="variable bool-widget hidden">
                        <!-- <input class="variable-boolean" id="variable-boolean-" name="variable-boolean" type="checkbox" /> -->
                    </div>
                                       
                    <!-- if type=count, show after initial save-->
                    <div class="variable count-widget hidden">
                        <input class="variable-count" id="variable-count-" name="variable-count" type="number" placeholder="0" />
                        <!-- when clicked, hide and reveal opposite -->
                        <button class="hidden" id="decrement-count-" type="button">
                            -
                        </button>
                        <button class="hidden" id="increment-count-" type="button">
                            +
                        </button>
                    </div>

                    <!-- if type=rating, show after initial save-->
                    <div class="variable rate-widget hidden">
                        <input class="variable-rating" id="variable-rating-" name="variable-rating" type="range" list="number-labels" min="1" max="5" />
                        <datalist id="number-labels">
                            <option value="1">1</option>
                            <option value="5">5</option>
                        </datalist>
                    </div>
                </form> 
                
                <form class="variable" id="variable-form-title-" action="2did.com/user/todos" method="post">
                    <!-- IF EXISTING variable, GET VALUE FROM variable_OBJECT -->
                    <input class="variable title" id="variable-title-" name="variable-title" type="text" placeholder="+ variable" value="variable_TITLE" />
                </form>        
            </div>
            <div class="variable-bar right">
                <!-- when any indicator is clicked,  opens edit view for that property + save-changes at end -->
                <!-- all are hidden unless corresponding object property != 'set' --> 
                <button class="list indicator hidden" type="button">
                    <!-- hidden when ordered by list or no assigned list -->
                    <!-- colored bubble -->
                    <!-- GET LIST FROM VAR OBJECT -->
                </button>
                <button class="goal indicator hidden" type="button">
                    <img class="goal indicator" src="./images/prospective-left/todo-components/goal.svg">
                    <!-- GET GOAL FROM variable OBJECT -->
                </button>
                <button class="schedule indicator hidden" type="button">
                    <img class="schedule indicator" src="./images/prospective-left/todo-components/date.svg">
                    <!-- GET SCHEDULE FROM variable OBJECT -->
                </button>
            </div>
        </div>
        <!-- if variable has just been created: APPEND variable_EDIT TEMPLATE, open all edit dropdowns -->
        <!-- for each class of variable object, if value: APPEND variable_EDIT TEMPLATE, make corresponding icon active & open corresponding edit dropdown -->
    </div>
</template>

<!-- --------------------------------------------------------------------------------------------------------------- -->

<template id="variable-edit">
    <!-- when edit-component edited (and has value), make corresponding icon in variable-bar active -->
    <!-- upon save, hide all dropdowns that correspond to an empty variable object property -->
    <form id="variable-form-details-" class="variable" action="2did.com/user/todos" method="post">       
        <!-- show only if new variable or on form-title click -->
        <section class="edit-component hidden">
            <div id="varible-icons-options">
                <!-- will dynamically generate icons listed in "./images/variable-icons" -->
            </div>
        </section>
        <section class="edit-component hidden">
            <div id="variable-type-">
                <ul>variable Type:
                    <li>
                        <label for="variable-type-boolean-">
                            <input id="variable-type-boolean-" name="variable-type" type="radio" required />
                            Boolean
                        </label>
                    </li>
                    <li>
                        <label for="variable-type-count-">
                            <input id="variable-type-count-" name="variable-type" type="radio" required />
                            Count
                        </label>
                    </li>
                    <li>
                        <label for="variable-type-rating-">
                            <input id="variable-type-rating-" name="variable-type" type="radio" required />
                            Rating
                        </label>
                    </li>
                    <!-- TODO LATER: TIMED GOAL -->
                </ul>
            </div>
        </section>
        <section class="edit-component hidden">
            <div class="single-line">
                <img class="goal icon inactive" src="./images/prospective-left/todo-components/goal.svg" />
                <span> <!-- GET GOAL FROM VAR OBJECT AS TEXT --> </span>
            </div>
            <div class="goal dropdown hidden">
                <label for="completion-rate-">Completion Goal:</label>
                <input id="completion-rate-" name="completion-rate" type="number">
                <span>times</span>
                <ul>
                    <li>
                        <label for="goal-period-day-">
                            <input id="goal-period-day-" name="goal-period" type="radio" />
                            daily
                        </label>
                    </li>
                    <li>
                        <label for="goal-period-weekday-">
                            <input id="goal-period-weekday-" name="goal-period" type="radio" />
                            weekly
                        </label>
                    </li>
                    <li>
                        <label for="goal-period-month-">
                            <input id="goal-period-month-" name="goal-period" type="radio" />
                            monthly
                        </label>
                    </li>
                </ul>    
            </div>
        </section>
        <section class="edit-component hidden">
            <div class="single-line">
                <img class="reminder icon inactive" src="./images/prospective-left/todo-components/reminder.svg" />
                <span>Reminder</span> 
                <input class="add-reminder" id="task-reminder-time-" name="task-reminder-time-" type="time" step="300" value="" />   
                <div class="reminder">
                    <!-- APPEND REMINDER LIST FROM VAR OBJECT -->
                    <button type="button">
                        <img class="no-add icon" src="./images/prospective-left/x.svg" />
                    </button>
                </div>
            </div>
        </section>
        <section class="edit-component inactive hidden">
            <div class="single-line">
                <img class="change-list icon" src="./images/prospective-left/todo-components/change-list.svg" />
                <span>
                    Move to List:
                </span>
            </div>
            <!-- TODO: build out -->
            <!-- get names of existing lists for dropdown -->
        </section>
        <section class="forget-changes hidden">
            <button type="button">
                <img class="no-add icon" src="./images/prospective-left/x.svg" />
            </button>
        </section>
    </form>
</template>